body {
  background-image: url(../images/weather.png);
}
form {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly, flex-start;
}

h1 {
  font-family: "Bungee Shade";
  flex: auto;
  text-align: center;
  max-height: fit-content;
}

.search {
  background-color: lavender;
  margin: 1%;
  padding: 2%;
  width: fit-content;
  border: 1px rgb(8, 11, 44) groove;
}

.searchBox {
  display: flex;
}

.btn-outline-primary {
  margin-left: 1%;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2%;
}
.info {
  background-color: rgb(242, 247, 248);
  margin: 1%;
  padding: 2%;
  width: max-content;
  border: 1px rgb(8, 11, 44) groove;
}
.uv {
  display: flex;
  flex-direction: row;
}
.forecast {
  display: flex;
  flex-direction: row;
  background-color: rgb(242, 247, 248);
  margin: 1%;
  padding: 2%;
  width: max-content;
  border: 1px rgb(8, 11, 44) groove;
}
